In [13]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web

In [14]:
style.use('ggplot')

In [15]:
end = dt.date.today()
start = end - dt.timedelta(days=1*365)
print(start, end)

2018-10-19 2019-10-19

In [16]:
stocks_list = pd.read_csv('stocks_list.csv')
stocks_list

                                    company   abbreviation
0              Reliance Industries Limited     RELIANCE.NS
1         Tata Consultancy Services Limited         TCS.NS
2                         HDFC Bank Limited    HDFCBANK.NS
3                Hindustan Unilever Limited  HINDUNILVR.NS
4                           Infosys Limited        INFY.BO
5               Kotak Mahindra Bank Limited   KOTAKBANK.BO
6                               ITC Limited      500875.BO
7                        ICICI Bank Limited   ICICIBANK.BO
8                       State Bank of India        SBIN.BO
9                     Bajaj Finance Limited  BAJFINANCE.BO
10              Maruti Suzuki India Limited      MARUTI.BO
11                        Axis Bank Limited    AXISBANK.BO
12                    Bharti Airtel Limited  BHARTIARTL.NS
13  Oil and Natural Gas Corporation Limited        ONGC.NS
14                     Asian Paints Limited  ASIANPAINT.BO
15         Larsen & Toubro Infotech Limited         LTI.NS
16                     Nestle India Limited   NESTLEIND.NS
17                            Wipro Limited       WIPRO.BO
18                 UltraTech Cement Limited  ULTRACEMCO.BO
19              Mahindra & Mahindra Limited         M&M.NS

In [17]:
for index, row in stocks_list.iterrows():
    abbr = row['abbreviation']
    df = web.DataReader(abbr, 'yahoo', start, end)
#     df['Date'] = df.index
    print(abbr, ': ', df.head(1))

RELIANCE.NS :                High      Low    Open        Close      Volume    Adj Close
Date
2018-10-19  1111.0  1070.25  1100.0  1101.300049  25421229.0  1095.234863
TCS.NS :                High          Low    Open        Close     Volume    Adj Close
Date
2018-10-19  1929.0  1870.050049  1929.0  1913.199951  3428776.0  1880.791504
HDFCBANK.NS :                    High    Low        Open    Close     Volume   Adj Close
Date
2018-10-19  990.424988  979.0  979.450012  983.875  4933674.0  967.404602
HINDUNILVR.NS :                 High          Low         Open        Close    Volume  \
Date
2018-10-19  1585.75  1543.050049  1551.199951  1578.400024  932433.0

              Adj Close
Date
2018-10-19  1558.181152
INFY.BO :               High    Low   Open       Close    Volume   Adj Close
Date
2019-05-21  723.5  707.0  723.5  709.200012  511790.0  699.323242
KOTAKBANK.BO :                High          Low         Open        Close    Volume  \
Date
2018-10-19  1206.0  1161.699951  1163.949951  1199.550049  148620.0

              Adj Close
Date
2018-10-19  1198.903931
500875.BO :                High  Low   Open  Close  Volume  Adj Close
Date
2019-10-18  247.75  245  246.5  246.5  398307      246.5
ICICIBANK.BO :                    High         Low        Open       Close    Volume  \
Date
2018-10-19  321.549988  310.299988  314.700012  314.899994  658068.0

             Adj Close
Date
2018-10-19  313.369141
SBIN.BO :               High         Low   Open       Close     Volume   Adj Close
Date
2018-10-19  264.0  258.100006  260.0  260.850006  1526541.0  260.850006
BAJFINANCE.BO :                     High     Low    Open    Close    Volume    Adj Close
Date
2018-10-19  2195.949951  2055.0  2164.0  2140.75  285001.0  2137.001465
MARUTI.BO :                     High     Low    Open        Close   Volume    Adj Close
Date
2018-10-19  6963.950195  6721.0  6854.0  6760.350098  88725.0  6667.311523
AXISBANK.BO :                High    Low        Open       Close    Volume   Adj Close
Date
2018-10-19  576.25  555.0  574.599976  562.200012  576628.0  561.502747
BHARTIARTL.NS :                    High         Low        Open       Close     Volume  \
Date
2018-10-19  269.209991  261.313995  263.516998  263.792999  4062748.0

            Adj Close
Date
2018-10-19   261.4151
ONGC.NS :                High    Low   Open       Close     Volume   Adj Close
Date
2018-10-19  163.75  157.0  162.5  160.449997  7258192.0  152.831268
ASIANPAINT.BO :                     High          Low         Open        Close    Volume  \
Date
2018-10-19  1287.400024  1221.949951  1267.900024  1237.949951  184590.0

              Adj Close
Date
2018-10-19  1228.356445
LTI.NS :                     High     Low         Open        Close    Volume  \
Date
2018-10-19  1818.849976  1705.0  1818.849976  1742.800049  483528.0

              Adj Close
Date
2018-10-19  1713.054932
NESTLEIND.NS :                     High     Low         Open        Close   Volume  \
Date
2018-10-19  9695.150391  9480.0  9676.200195  9609.049805  69090.0

              Adj Close
Date
2018-10-19  9480.868164
WIPRO.BO :                High         Low    Open       Close    Volume   Adj Close
Date
2018-10-19  243.75  238.238007  243.75  242.287994  126913.0  241.378372
ULTRACEMCO.BO :                High          Low    Open        Close   Volume    Adj Close
Date
2018-10-19  3652.5  3529.050049  3640.0  3609.449951  33882.0  3600.218018
M&M.NS :               High         Low        Open       Close     Volume  Adj Close
Date
2018-10-19  758.0  732.099976  748.099976  741.200012  2985488.0   731.0047

In [18]:
 df.shape

(243, 6)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 243 entries, 2018-10-19 to 2019-10-18
Data columns (total 6 columns):
High         243 non-null float64
Low          243 non-null float64
Open         243 non-null float64
Close        243 non-null float64
Volume       243 non-null float64
Adj Close    243 non-null float64
dtypes: float64(6)
memory usage: 13.3 KB

In [20]:
today = dt.date.today()
today

datetime.date(2019, 10, 19)

In [34]:
from sklearn import linear_model

X = df.drop('Adj Close', axis=1) 
y = df['Adj Close']

X_train = X[:-1]
X_test = X[-1:]
y_train = y[:-1]
y_test = y[-1:]
   
reg = linear_model.LinearRegression() 
  
reg.fit(X_train, y_train)

y_pred = reg.predict(X_test)

print

Date
2019-10-18    593.299988
Name: Adj Close, dtype: float64 [588.78262193]

In [66]:
y_test = pd.DataFrame(y_test)
y_test = y_test.reset_index(drop=True)

In [78]:
y_pred = pd.DataFrame(y_pred)
df3 = y_test.join(y_pred)
df3.columns = ['Actual', 'Predicted']

In [79]:
df3

       Actual   Predicted
0  593.299988  588.782622