In [1]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web

In [2]:
style.use('ggplot')

In [3]:
end = dt.date.today()
start = end - dt.timedelta(days=1*365)
print(start, end)

2018-10-19 2019-10-19

In [4]:
stocks_list = pd.read_csv('stocks_list.csv')
stocks_list

                                    company   abbreviation
0              Reliance Industries Limited     RELIANCE.NS
1         Tata Consultancy Services Limited         TCS.NS
2                         HDFC Bank Limited    HDFCBANK.NS
3                Hindustan Unilever Limited  HINDUNILVR.NS
4                           Infosys Limited        INFY.BO
5               Kotak Mahindra Bank Limited   KOTAKBANK.BO
6                               ITC Limited      500875.BO
7                        ICICI Bank Limited   ICICIBANK.BO
8                       State Bank of India        SBIN.BO
9                     Bajaj Finance Limited  BAJFINANCE.BO
10              Maruti Suzuki India Limited      MARUTI.BO
11                        Axis Bank Limited    AXISBANK.BO
12                    Bharti Airtel Limited  BHARTIARTL.NS
13  Oil and Natural Gas Corporation Limited        ONGC.NS
14                     Asian Paints Limited  ASIANPAINT.BO
15         Larsen & Toubro Infotech Limited         LTI.NS
16                     Nestle India Limited   NESTLEIND.NS
17                            Wipro Limited       WIPRO.BO
18                 UltraTech Cement Limited  ULTRACEMCO.BO
19              Mahindra & Mahindra Limited         M&M.NS

In [5]:
for index, row in stocks_list.iterrows():
    abbr = row['abbreviation']
    df = web.DataReader(abbr, 'yahoo', start, end)
#     df['Date'] = df.index
#     print(abbr, ': ', df.head(1))

In [6]:
 df.shape

(243, 6)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 243 entries, 2018-10-19 to 2019-10-18
Data columns (total 6 columns):
High         243 non-null float64
Low          243 non-null float64
Open         243 non-null float64
Close        243 non-null float64
Volume       243 non-null float64
Adj Close    243 non-null float64
dtypes: float64(6)
memory usage: 13.3 KB

In [8]:
today = dt.date.today()
today

datetime.date(2019, 10, 19)

In [ ]:
from sklearn import datasets, linear_model, metrics